@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}
body {
    background-color: #5B2386;    
}
.app {
    overflow: hidden;

}
/* header */
header {
    position: relative;
    height: 300px;
    border: 1px solid #000;
}

h1 {

}

.title_1m {
    width: 530px;
    height: 112px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.clock {
    width: 220px;
    height: 225px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid #000; */

}
.one {
    display: flex;
    justify-content: center;
}

.sub_txt {
   font-family:'OTEnjoystoriesBA';
   font-size: 36px;
   color: #F5DF4D;
   border: 1px solid #000;
}
.two {
    display: flex;
    height: 110px; 
    /* 크기를 주지 않으면 내부 컨텐츠가 보이지 않음..왜지 */
    justify-content: center;
    margin-top: 70px;
    position: relative;
    border: 1px solid red;
}
.two p {
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    line-height: 36px;
}

.two p strong {
    font-size: 30px;
    font-weight: 700;
}
.two img {
    position: absolute;
    top: 30px;
}
/* 위치 조정이 어렵다..*/

.three {
    display: flex;
    justify-content: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); */
    margin-top: 50px;
    border: 1px solid blue;
}
/* flex 와 justify-content를 사용해 중앙 배치하려했지만, 바로 위에 있는 형제 섹션과의 간격을 떨어뜨리기 위해 margin 을 사용하고자 position:absolute를 사용하였음. */

.cont-inp {
    color:white;
    font-size: 24px;
    font-family: GmarketSansBold;
    font-weight: normal;
    line-height: 3em;
    text-align: center;
    width: 700px;
}

.btn-exc {
    font-family: GmarketSansBold;
    color: #5B2386;
    background-color: #FCEE21;
    font-size: 24px;
    margin-top: 70px;
    padding: 15px 55px;
    border-radius: 40px;
    border-color: transparent;
}
.cont-inp .text-wannabe {
}