@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}
body {
    background-color: #5B2386;    
}

/* header css */
.main-title {
    height: 300px;
    position: relative;
}
.hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.title_img {
    width: 530px;
    height: 112px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title_clock_img {
    width: 220px;
    height: 225px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub_title {
    display: flex;
    justify-content: center;
    margin-top: 46px;
}
.sub_txt {
   font-family:'OTEnjoystoriesBA';
   font-size: 36px;
   color: #F5DF4D;
}
.title_comment {
    display: flex;
    justify-content: center;
    margin-top: 78px;
    position: relative;
}
.title_comment p {
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 36px;
    /* position: absolute; */
    /* .title_comment부모요소가 자식요소 p태그를 인식하지 못함. */
    /* p태그에는 position을 줄 필요가 없다! */
}

.title_comment p strong {
    font-size: 30px;
    font-weight: 700;
}
.title_comment img {
    position: absolute;
    top: 30px;
}

.form_section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.content_form {
    color:white;
    font-size: 24px;
    font-family: 'GmarketSansMedium';
    line-height: 3em;
    text-align: center;
    width: 700px;
    position: relative;
}
.wannabe input {
    width: 228px;
    height: 57px;
}
.btn-wrap {

}

.btn-exc {
    font-family: GmarketSansBold;
    color: #5B2386;
    background-color: #FCEE21;
    font-size: 20px;
    margin-top: 60px;
    padding: 15px 35px;
    border-radius: 40px;
    border-color: transparent;
}
.btn-wrap img {
    /* border: 1px solid #000; */
    position: absolute;
    bottom: -15px;
    right: 40px;
}

.result {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    border: 1px solid green;
    line-height: 4em;
    
}
.result p {
    font-family: GmarketSansBold;
    color: white;
}
.result strong {
    font-size: 50px;
    vertical-align: middle;
}

.result .btn-wrap {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    border: 1px solid #000;

}
.btn-start {
    background-color: #FCEE21;
}

.btn-share {
    margin-left: 10px;
}
button {
    /* display: flex; */
    /* gap: 10px; */
    align-items: center;
    font-family: GmarketSansBold;
    font-size: 23px;
    color: #5b2386;
    border: none;
    border-radius: 56px;
    padding: 21px 49px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}