/* Common area */

/* div {
    background-color: orange;
    width: 200px;
    height: 200px;
    padding: 50px;
    margin: 0 auto;
    /*
    margin-left:auto의 의미는 사용가능한 범위(공간)안에서 계산되어 왼쪽 w, h값이 차지한 공간을 제외한 왼쪽 범위에 matgin값을 준다. 
} */
h1, h2, p, ul {
    margin: 0;
    padding: 0;
} /*초기화와 타입셀렉터를 활용하는 이유?*/

h1 {
    font-size: inherit;
    font-weight: inherit;
}
li {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}

body {
    background-image: url(/profile/images/background4.png);
}

.wrapper {
    background-color: #ddd;
    width: 800px;
    margin: 0 auto;
}

/* Header */
.header {
    color: white;
    background-image: url(images/cover03.png);
    background-size: cover;
    padding: 100px 0; /* 100px > 상,하 // 0 >>좌,우  */
    text-align: center;
    /*
    text-align:center 은 header 안에 있는 인라인 성질을 가지고 있는 자식 요소들이 가운데 정렬됨.
    */
}

.header > img { /*  > 결합자(combinator)로 header 밑에 있는 직계 img*/
    border-radius:  50%;
    border: 5px solid white;
}
.header h1 {
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 10px;
}
.header p {
    border-top: 5px solid;
    width: fit-content; 
    /* 텍스트 내부 컨텐츠 크기만큼 크기를 조절함.*/
    /* 자매품 max-content, min-content*/
    margin: 0 auto;
    padding: 10px 20px;
}
.section {
    background-image: url(images/icon-information.png); /*백그라운드 이미지는 도배됨.*/
    background-repeat: no-repeat ;
    background-position: right 30px center;
    background-color: white;
    margin: 20px;
    padding: 20px;
}
.skill {
    background-image: url(/profile/images/icon-skills.png);

}
.section h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.Footer {
    background-color: #eee;
    text-align: center;
    padding: 20px 0;
}

.Link {
    /* margin:  20px; */
    padding: 10px 20px;
    display: inline-block;
    border-radius: 40px;
    border: 4px solid;
    color: #ccc;
    /* text-decoration: underline; */
}
.Link.github {
    color:  black;
}
.Link.facebook {
    color: dodgerblue;
}
.Link.contact {
    color:violet;

}

/* h1 {
    background-color: aqua;
    width: auto;
    text-align: right; /* Header 로부터 center값을 받아도 h1 독자적으로  가능함!
}
*/

/*
p {
    background-color: bisque;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
} */