@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


body {
    background-color: #EAE8FE;
}
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
  }
.radius {
    border-radius: 5px;
}
.font_500 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
.font_700 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;

}
/* totoal */
.total_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  header  */
.header_sec {
    margin-bottom: 67px;
}
.logo_img {
    width: 386px;
    height: 164px;
}

/* inner-content */
.content_sec {
    display: flex;
    flex-direction: row;
    gap: 28px;
}
/* left-section */
.start_wrapper {
    background-color: #ffff;
    width: 360px;
    height: 545px;
    padding: 31px 27px 28px 27px;
    box-sizing: border-box;
}

.drink_wrapper {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 20px;
}

.drink_list {
    width: 94px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    border: 3px solid transparent;
    box-sizing: border-box;

}

.drink_list:hover {
    border: 3px solid #6327FE;
    outline: none;
}
.drink_list:nth-child(2) {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
}
.drink_list:nth-child(2)::before {
    content: '';
    display: inline;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
.sold_out {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 50px;
    z-index: 3;
}

.drink_btn {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* li크기에 맞추기 위해 위 프로퍼티 적용 */
    border: none;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.drink_img {
    width: 36px;
    height: 65px;
}
.drink_name {
    font-size: 9px;
}
.drink_price {
    font-size: 12px;
    border-radius: 50px;
    background-color: #6327FE;
    color: #fff;
    padding: 5px 15px;
    line-height: 10px;
}

.changes_sec {
    display: grid;
    gap: 12px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 12px;
}
.changes {
    width: 200px;
    height: 33px;
    border-radius: 5px;
    background-color: #EAE8FE;
    display: flex;
    justify-content: space-between;
}
.changes p {
    font-size: 14px;
    padding: 10px 7px 7px;
}
.change_btn {
    width: 94px;
    height: 33px;
    padding: 0;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    background-color: #ffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.input_write {
    border: 1px solid #bdbdbd;
    padding: 10px 7px 7px;
}

.input_btn {
    font-size: 13px;
    border-radius: 5px;
    border: none;
    background-color: #ffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.select_changes2 {
    display: grid;
    gap: 12px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}
.buy_list {
    width: 200px;
    height: 106px;
    background-color: #EAE8FE;
    overflow-y: scroll;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    box-sizing: border-box;
}
.buy_list::-webkit-scrollbar {
    width: 12px;
    height: 79px;
}
.buy_list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
    width: 4px;
    background-clip: padding-box;
    border: 4px solid transparent;
}

.buy_list li {
    margin: 12px 18px 0 18px;
    box-sizing: border-box;
}
.buy_wrapper {
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    text-align: center;
    align-items: center; 
    padding: 10px 6px 8px 7px;
}
.buy_img {
    width: 18px;
    height: 33px;
}
.buy_name {
    width: 73px;
    height: 10px;
    font-size: 9px;
    font-weight: 500;
    margin-right: 18px;
    margin-left: 10px;

}
.drink_count {
    font-size: 14px;
    width: 30px;
    height: 30px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    line-height: 30px;
}
.pix_btn {
    width: 94px;
    height: 106px;
    color: #fff;
    font-size: 13px;
    background-color: #6327FE;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

/* right-section */
.result_wrapper {
    width: 360px;
    height: 545px;
    /* margin-left: 28px; */
    /* overflow: hidden; */
}
.saved_money {
    width: 360px;
    height: 50px;
    background-color: #fff;
    position: relative;
}
.money_wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px 0 9px 18px;
    padding: 0 10px;
    background-color: #EAE8FE;
    border-radius: 5px;
    width: 306px;
    height: 32px;
}
.money_txt1 {
    font-size: 14px;
}
.money_txt2 {
    font-size: 14px;
}

.saved_drink {
    margin-top: 20px;
    /* height: 474px; */
    padding: 25px 27px 27px 27px;
    background-color: #fff;

}
.get_drink {
    /* border: 1px solid #000; */
    font-size: 14px;
    text-align: center;
    margin-bottom: 14px;
}

.saved_wrapper {
    overflow-y: scroll;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background-color: #EAE8FE;
    padding: 12px 12px 0 12px ;
    height: 364px;
}
.saved_wrapper::-webkit-scrollbar {
    width: 12px;
    height: 79px;
}
.saved_wrapper::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
    width: 4px;
    background-clip: padding-box;
    border: 4px solid transparent;
}

.saved_list {
    background-color: #fff;
    margin-bottom: 6px;
    border-radius: 5px;
}

.saved_div {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 7px 10px;
}

.saved_img {
    width: 18px;
    height: 33px;
}
.saved_name { 
    font-size: 9px;
    margin-left: 10px;
    margin-right: 100px;
    width: 73px;
}

.saved_count {
    font-size: 14px;
    width: 30px;
    height: 30px;
    border: 1px solid #bdbdbd;
    line-height: 30px;
    border-radius: 5px;
}
.total_cost {
    text-align: right;
    font-size: 12px;
    margin-top: 5px;
}

@media screen and (max-width:600px) {
    .content_sec {
        display: flex;
        flex-direction: column;
    }
}